main {
  display: grid;
  grid-template-areas:
    'head head'
    'side content';
  margin-bottom: 2rem;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: auto;
}

header {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  grid-area: head;
  margin-bottom: 1rem;
  /* background-color: black; */
}

aside {
  grid-area: side;
  /* background-color: red; */
  height: fit-content;
}

article {
  grid-area: content;
  /* background-color: palegreen; */
  /* height: 20rem; */
}

.name-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  color: black;
  font-family: e-Ukraine-Light;
}

.name-page h1,
.name-page p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-left: 3rem;
}

.name-page p {
  font-size: 1rem;
}

aside {
  margin-left: 1rem;
  padding: 1.5rem;
  /* margin-right: 1rem; */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 92%;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  color: black;
}

#filter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 39px;
}

.category-btn {
  display: flex;
  /* justify-content: space-between; */
  cursor: pointer;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 300;
  font-size: 1.8em;
  line-height: 39px;
}

.category-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
  color: var(--color-primary);
}

.category-btn:hover span {
  transform: rotate(0deg);
}

.itempanel {
  background-color: var(--white);
}

#lang {
  /* display: none; */
}

/* DASDAS */

input[type='checkbox'] {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
}

/* input[type='checkbox'] {
  Скрыть стандартный вид чекбокса
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

input[type='checkbox']:checked {
  Стили для выбранного чекбокса
  background-color: #000;
}

input[type='checkbox'] + label {
  Стили для метки чекбокса
  margin-left: 5px;
  cursor: pointer;
} */

/* dasdas */

/* .filter-container {
  width: 300px;
  padding: 10px;
}

.tab {
  margin-bottom: 10px;
}

.tab-input {
  display: none;
}

.tab-label {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8em;
  line-height: 39px;
  display: block;
  cursor: pointer;
}

.tab-content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.tab-input:checked + .tab-label + .tab-content {
  max-height: 200px;
}

.checkbox {
  margin-left: 20px;
} */

.filter-container {
  /* width: 300px; */
  /* padding: 10px; */
}

.tab {
  margin-bottom: 10px;
}

.tab label {
  font-family: e-Ukraine-Light;
}

.tab-input {
  display: none;
}

.tab-label {
  font-style: normal;
  font-size: 1.8em;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.tab-label span {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
  color: var(--color-primary);
}

.material-icons-sharp.active {
  transform: rotate(0deg);
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.tab-content div {
  display: flex;
  align-items: space-around;
  /* border: 1px solid; */
  /* border-color: red; */
  margin-bottom: 0.4rem;
}

.tab-content input {
  /* padding: 0; */
  margin: 0;
  margin-right: 0.3rem;
}

.tab-input:checked + .tab-label + .tab-content {
  max-height: 999rem;
  /* Высота контента внутри вкладки мб пригодиться*/
}

.checkbox {
  margin-left: 20px;
}
